<div class="center jumbotron">
  <h1>Welcome to the Scalia project</h1>

  <h2>
    This is the home page for the <a href="https://gist.github.com/MatthiasRMS/6f2f2fbed86cc579683fb3376785efa7">Scalia programming test</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
</div>

<% if false %>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<% end %>
            
<%= link_to "List of all companies", "/companies", class: "btn btn-lg btn-primary" %>
